# -*- mode: gitignore; -*-
*~
.cache/
eln-cache/
*.elc

custom.el

## macOS
.DS_Store

# packages
elpa/
el-clone/
eln-cache/

recentf
undohist/
history

transient/

prescient-save.el

# projectile
projectile-bookmarks.eld
projects

url/

# LSP
.lsp-session-*

eshell/

# Java
eclipse.jdt.ls/

workspace/

# ddskk
dict/

# dap-mode
.dap-breakpoints